<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

        <link href="css/bootstrap.css" rel="stylesheet">
        
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <link rel="stylesheet" href="css/jquery.jscrollpane.css">
	<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/album.css">
        <style type="text/css">
        body {
            padding-top: 60px;
        }
        </style>

	<script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

    <header>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                <a class="brand" href="#">Album jQuery</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="page-header">
            <h1>Fotografías <small>Pincha para ver</small></h1>

        </div>

        <!-- Example row of columns -->
        <div class="row pictures">
        </div>

        <footer>
            <p>&copy; Company 2011</p>
        </footer>
    </div> <!-- /container -->
    <div id="ajax_progress" class="ajax_notify">Cargando...</div>

    <script id="comment-block" type="text/x-jquery-tmpl">
        <div class="comment">
            {{if _content}}
            <div class="icon">
                {{if iconfarm}}
                <img src="http://farm${iconfarm}.static.flickr.com/${iconserver}/buddyicons/${author}.jpg" />
                {{else}}
                <img src="http://www.flickr.com/images/buddyicon.jpg" />
                {{/if}}
            </div>
            <div class="author">
                ${authorname}
            </div>
            <div class="message">
                {{html _content}}
            </div>
            {{else}}
            Sin comentarios
            {{/if}}
        </div>
    </script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<script src="js/jquery.tmpl.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/mwheelIntent.js"></script>
<script src="js/jquery.jscrollpane.min.js"></script>
<script src="js/jquery.pics_comments.js"></script>
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<!-- end scripts-->

<script>
	/* var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script')); */
    var a = {};
    $(document).ready(function(){
        
        $.getJSON('json/mountain.json', {}, function(data){
            var pictures = $(".pictures");
            for(i in data.photos.photo){
                var photo = data.photos.photo[i];
                
                var base_url = "http://farm" + photo.farm + ".staticflickr.com/" + photo.server + "/" + photo.id + "_" + photo.secret + "_";
                var small_url = base_url + "s.jpg";
                var normal_url = base_url + "z.jpg";
                
                $('<a class="span2"></a>')
                .addClass("span2")
                .addClass("fancybox")
                .attr('rel', 'gallery1')
                .attr('href',normal_url)
                .attr('title', photo.title)
                .append($('<img src="'+small_url+'"/>'))
                .appendTo(pictures);
            }
            
            $('body').pics_comments({ 'selector' : '.fancybox' });
        });
    });
    
    // Manejadores globales de las peticiones AJAX
    $.ajaxSetup({ cache: false });
    $('#ajax_progress').ajaxStart(function(){ console.log('start'); $(this).show(); })
    $('#ajax_progress').ajaxStop(function(){ $(this).hide(); console.log('finish'); });
    $('#ajax_progress').ajaxError(function(){ console.log('error'); });
    
    // Control de conexiones activas - Evitar que salga de la página si hay
    // peticiones ajax pendientes.
    window.onbeforeunload = function() { 
      if ($.active) {
        return "Tiene peticiones con en servidor en curso, si abandona esta página puede perder información. Espere a que se complete todas las peticiones.";
      }
    }
    
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->


</body>
</html>
